@model P5_ExpressVoiture.Models.ViewModels.ReparationViewModel

<h2>Ajouter une réparation</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="VoitureID" />

    <div class="form-group">
        <label asp-for="DateReparation" class="control-label"></label>
        <input asp-for="DateReparation" class="form-control" />
        <span asp-validation-for="DateReparation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CoutReparation" class="control-label"></label>
        <input asp-for="CoutReparation" class="form-control" />
        <span asp-validation-for="CoutReparation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeReparationID" class="control-label">Type de Réparation</label>
        <select asp-for="TypeReparationID" class="form-control" asp-items="@(new SelectList(Model.TypeReparations, "Id", "NomTypeReparation"))">
            <option value="">Sélectionnez un type</option> <!-- Option de base -->
        </select>
        <span asp-validation-for="TypeReparationID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="Index" asp-route-voitureId="@Model.VoitureID" class="btn btn-secondary">Annuler</a>
</form>
