html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #5f4b32;
    margin-bottom: 20px;
}

.custom-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .custom-form .form-group {
        margin-bottom: 15px;
    }

    .custom-form .form-control {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
    }

.image-preview {
    max-width: 200px;
    margin-top: 10px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-btn {
    background-color: #af8555;
    border-color: #af8555;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

    .custom-btn:hover {
        background-color: #8f6a44;
        border-color: #8f6a44;
    }

.details-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.image-section {
    flex: 1;
    text-align: center;
    margin-right: 40px;
}

.voiture-image {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain; /* Important pour ajuster l'image sans la couper */
    border-radius: 8px;
}

.details-section {
    flex: 1;
    font-family: 'Arial', sans-serif;
    color: #333;
}

    .details-section h1 {
        font-size: 24px;
        color: #5a4d4d;
    }

    .details-section p {
        font-size: 16px;
        margin: 10px 0;
    }

.admin-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

    .back-link:hover {
        text-decoration: underline;
    }