@model P5_ExpressVoiture.Models.ViewModels.FinanceViewModel

<h2 class="form-title">Modifier les informations financières</h2>

<form asp-action="Edit" class="custom-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="FinanceId" />
    <input type="hidden" asp-for="VoitureID" />

    <div class="form-group">
        <label asp-for="PrixAchat" class="control-label"></label>
        <input asp-for="PrixAchat" class="form-control" />
        <span asp-validation-for="PrixAchat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary custom-btn">Enregistrer</button>
        <a asp-action="Index" asp-route-voitureId="@Model.VoitureID" class="btn btn-secondary custom-btn">Annuler</a>
    </div>
</form>