@model P5_ExpressVoiture.Models.ViewModels.MarqueViewModel

<h2 class="form-title">Ajouter une nouvelle marque</h2>

<form asp-action="Create" class="custom-form">
    <div class="form-group">
        <label asp-for="NomMarque" class="control-label"></label>
        <input asp-for="NomMarque" class="form-control" />
        <span asp-validation-for="NomMarque" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary custom-btn">Enregistrer</button>
        <a asp-controller="Admin" asp-action="Index" class="btn custom-btn-secondary">Annuler</a>
    </div>
</form>
